h1 {
    color: red;
    font-family: 'Freckle Face', cursive;
}

#word-to-guess {
    font-size: 24px;
    color: white;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: black;
}

#word-to-guess.show {
    color: red;
}

#right {
    float: right;
    width: 50%;
}

#left{
    float: left;
    width: 50%;
}